.rest {
  font-style: italic;
}

.bg-ocean {
  background-color: #7babad;
  color: white;
}

.bg-ocean-darken-1 {
  background-color: #639496;
  color: white;
}

.bg-ocean-darken-2 {
  background-color: #4d7779; 
  color: white; 
}

.bg-ocean-darken-3 {
  background-color: #395d5f;
  color: white;
}

.bg-ocean-darken-4 {
  background-color: #233f41;
  color: white;
}

.bg-sun {
  background-color: #ffe88c;
  color: rgb(59, 59, 59);
}

.bg-light-grey {
  background-color: lightgray;
  color: rgb(59, 59, 59);
}

.title {
  letter-spacing: 3px;
}